.home {

}
.home .upper-slider {
    width: 100vw;
    height: 100vh;
    /* border: 2px solid white; */
}

.home .upper-slider img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover; 
    object-position: center;
    /* position: fixed;
    z-index: -1; */
}

.container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.mushroom-cyrcle {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    
}

.mushroom-cyrcle-mainTitle {
    text-align: center;
    margin-bottom: 5rem;
}

.mushroom-cyrcle p {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* float: right; */
    /* border: black 2px solid; */
}

.mushroom-cyrcle ul li {
    list-style-type:disc;
    list-style-position: inside;
}

.mushroom-cyrcle .second-stage p{
    /* float:left; */
}

.mushroom-cyrcle .border {
    border: black 1px solid;
    width: 50%;
    margin: 0 auto;
}

.mushroom-cyrcle .border:nth-child(2), .mushroom-cyrcle .border:nth-child(6) {
    border: 1px solid black; 
    margin-right: 6%; 
    width: 50%; 
}

.mushroom-cyrcle .border:nth-child(4) {
    border: 1px solid black; 
    margin-left: 6%; 
    width: 50%; 
}

.mushroom-cyrcle .border:nth-child(8) {
    margin-top: 5rem;
    border: 1px solid black;
    width:10%;
}


.mushroom-cyrcle .first-stage, .mushroom-cyrcle .second-stage, .mushroom-cyrcle .third-stage {
    /* border: red 2px solid; */
    display: flex;
    margin: 2rem 0;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.mushroom-cyrcle .first-third-Image img {
    height: 25rem;
    width: 35rem;
    border-radius: 10rem;
}

.mushroom-cyrcle .second-stage img {
    height: 25rem;
    width: 35rem;
    border-radius: 10rem;
}


.mushroom-cyrcle .second-stage {
    /* border: blue 2px solid; */
}

.mushroom-cyrcle .third-stage {
    /* border: green 2px solid; */
}


.mushroom-cyrcle .first-third-Image {
    /* border: green 2px solid; */
    width: fit-content;
}

.homeSlider-container {
    /* border: black 3px solid; */
    margin-top: 10rem;
}

.home-mushrooms-slider {
    /* border: 3px yellow solid; */
} 


